Django==4.2.10

django-bootstrap-v5==1.0.11

django-bootstrap-icons==0.8.7

openpyxl==3.0.9

python-dateutil==2.8.2

datetime==5.4

Pillow==9.0.0

six==1.16.0

python-dotenv==0.14.0

cryptography==42.0.5